<div class="container">
  <div class="login-box">
    <div class="login-header">
      <h2>Welcome Back 👋</h2>
      <p>Please login to your account</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="getLoginDetail()">

      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="••••••••"
          required
        />
      </div>
      <button type="submit" class="submit-btn" >Login</button>
    </form>

  </div>
</div>
